- if @questions.size < Constants::QUESTIONS_LIMIT
  - Rails.logger.info "The game has ended, play again."
  :javascript
    window.location.href = '/the_end';
- else
  %form{id: "questions_form"}
    - @questions.each do |question|
      .block
        .questionimage
          - if question.image
            %img{src: "#{question.image}"}
          %span
            = "#{question.name} / #{question.description}"
        .shagmarrykill
          - Constants::SMK_OPTIONS.each do |gender_pref|
            %input{type: "radio", name: question.id, value: gender_pref}
              = gender_pref.titleize
              %span{class: "question_results #{question.id} #{gender_pref}"}
                = question.stat["#{gender_pref}_count".to_sym]

    .spacer
    #nextround
      %h3
        %span
          %input{type: "submit", name: "vote", value: "Vote", id: "vote_button"}
          %input{type: "submit", name: "next", value: "Next", id: "next_button"}


