- if @questions.empty?
  Thanks for playing!!!
- else
  %ul
    %form{id: "questions_form"}
      - @questions.each do |question|
        %li
          %div
            .question-container
              %div
                = question.id
              %img
                = question.image
              %div
                = question.name
              %div
                = question.description

            .response-container
              - Constants::SMK_OPTIONS.each do |gender_pref|
                %input{type: "radio", name: question.id, value: gender_pref}
                  = gender_pref.titleize
                  %span{class: "question_results #{question.id} #{gender_pref}"}
                    = question.stat["#{gender_pref}_count".to_sym]


      %input{type: "submit", name: "vote", value: "Vote", id: "vote_button"}
      %input{type: "submit", name: "next", value: "Next", id: "next_button"}