-#Set title
#header
  %h1.title
    = site_name
  #poweredby
    %p
      powered by
      %a{href: "http://socialcrunch.com"}
        %img{style: "margin-bottom: -11px", src:"/assets/logowhitetext.png", alt: "SocialCrunch"}
  %h1
    Leader Board

#content
  #mostshagged.statlist
    %h2
      = "Most #{Constants::BANG.titleize}ed"
    %ul
      - @most_shagged.each do |question|
        %li
          - if question.image
            %img{src: "#{question.image}"}
          %span
            = "#{question.name} / #{question.description}: "
            = question.stat.shag_count
  #mostmarried.statlist  
    %h2 Most Married
    %ul
      %li
        - @most_married.each do |question|
          %li
            - if question.image
              %img{src: "#{question.image}"}
            %span
              = "#{question.name} / #{question.description}: "
              = question.stat.marry_count
  #mostkilled.statlist
    %h2
      = "Most #{Constants::KILL.titleize}ed"
    %ul
      %li
        - @most_killed.each do |question|
          %li
            - if question.image
              %img{src: "#{question.image}"}
            %span
              = "#{question.name} / #{question.description}: "
              = question.stat.kill_count
