-#Set title
#header
  %h1
    Shag, Marry, Kill
    %br
    Leader Board

-#@kamtodo: externalize site_name

#content
  #mostshagged.statlist
    %h2 Most Shagged
    -# @nathantodo: these should be displaying inline-block
    %ul
      - @most_shagged.each do |question|
        %li
          - if question.image
            %img{src: "#{question.image}"}
          %span
            = "#{question.name} / #{question.description}"
            = question.stat.shag_count
    %h2 Most Married
    %ul
      %li
        - @most_married.each do |question|
          %li
            - if question.image
              %img{src: "#{question.image}"}
            %span
              = "#{question.name} / #{question.description}"
              = question.stat.marry_count
    %h2 Most Killed
    %ul
      %li
        - @most_killed.each do |question|
          %li
            - if question.image
              %img{src: "#{question.image}"}
            %span
              = "#{question.name} / #{question.description}"
              = question.stat.kill_count
