#footer
  %div.gradientline
  %div.gradientline
  .block
    %h2.genderheader
      Share
    %ul.share
      %li
        %a{href: "http://facebook.com/share.php?u=#{site_url}&text=#{site_share}", target: "_blank", onclick: "Analytical.event('shared on facebook');"}
          %img{src: "/assets/facebook.png"}
      %li
        %a{href: "http://twitter.com/share?url=#{site_url}&text=#{site_share}", target: "_blank", onclick: "Analytical.event('shared on twitter');"}
          %img{src: "/assets/twitter.png"}
      %li
        %a{href: "https://m.google.com/app/plus/x/?v=compose&content=#{site_share} - #{site_url}", target: "_blank", onclick: "Analytical.event('shared on Google+');"}
          %img{src: "/assets/googleplus.png"} 
  .block
    %h2.genderheader 
      Play SocialCrunch
      %a{href: "http://socialcrunch.com", target: "_blank", onclick: "Analytical.event('clicked socialcrunch from footer');"}
        .play
          %img{src: "/assets/logo.jpg"}

= javascript_tag :defer => 'defer' do
  #{@controller_js_args.present? ? "$SC.initPage('#{controller.class.to_s.split('Controller').first}', #{parse_js_args(@controller_js_args)});" : "$SC.initPage('#{controller.class.to_s.split('Controller').first}');"}
  