!!!
%html
  %head
    / Analytical head_prepend
    = raw analytical.head_prepend_javascript
    / Analytical head_prepend end

    %title
      = site_name
      \- Powered by SocialCrunch

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

    = csrf_meta_tags

    %meta{:name => "title",       :content => "#{site_name} - powered by SocialCrunch"}/
    %meta{:name => "description", :content => "#{site_name} is a fun way to learn about yourself, and preferences...wink!"}/
    %meta{:name => "keywords",    :content => "socialcrunch-smk socialcrunch irishcrunch social-crunch social crunch scrunch irish irish-crunch game"}/

    / Analytical head_append
    = raw analytical.head_append_javascript
    / Analytical head_append end

  %body
    / Analytical body_prepend
    = raw analytical.body_prepend_javascript
    / Analytical body_prepend end
    #main
      #wrapper
        = yield

    = render partial: "layouts/footer"

    / Analytical body_append
    = raw analytical.body_append_javascript
    / Analytical body_append end

